@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>IdentityServer3 host w/ Discourse SSO</h2>
    <p>
        @Html.ActionLink("Initiate a mock Discource request", "Init", "Discourse")
    </p>
    <p>
        ..or test against a live discourse instance:
        <a href="http://discourse-test.westeurope.cloudapp.azure.com">http://discourse-test.westeurope.cloudapp.azure.com</a>
    </p>
</div>